.coursesWrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 20px;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.primaria{
    display: flex;
    flex-direction: column;
    margin-bottom: 15vh;
    margin-left:5vh;
    box-shadow: 1px 1px 1px 2px gray;
    border-radius: 10px;
    width: 88%;
}

.liText {
    display: inline-block;
    vertical-align: top;
}

.education { 
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 1px 2px gray;
    border-radius: 10px;
    width: 95%;
    margin-bottom: 15vh;
}

.ImgWrapper {
    position: relative;    
    opacity: 1;
    &:hover {
        .ImgWrapper {
            opacity: 0;
        }
        .Img {
            -webkit-filter: blur(2px);
            filter: blur(2px);
        }
        .Title {
            opacity: 1;
        }
    }
}

.Img{
    height: 34vh;
    object-fit: cover;
    object-position: 1px 15%;
    border-radius: 10px;
    transition: .3s all;
    min-width: 38.2vh;
    width: 100%;
}

.Title {
    position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  opacity: 0;
}

.TextWrapper {
    position: relative;
    width: 100%;
}

.rightTextWrapper {
    position: relative;
    width: 100%;
    height: 130vh;
}

.TextTitle {
    font-weight: bolder;
    font-size: 25px;
    text-decoration: underline;
    padding-left: 100px;
}

.Text{
  padding-left: 70px;
  columns: 2;
}

.bottomGrid{
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  height: 82vh;
}

.leftEducation { 
    overflow: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 1px 2px gray;
    border-radius: 10px;
    height: 100%;
    max-height: 38%;
}

.rightEducation { 
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 1px 2px gray;
    border-radius: 10px;
    width: 100%;
    height: 38%;
}

.rightTextTitle {
    width: 272px;
    font-weight: bolder;
    font-size: 25px;
    text-decoration: underline;
    margin-left: 69px;
}

.botTextTitle {
    font-weight:bolder;
    font-size: 19px;
    text-decoration: underline;
    background: none;
    border: none;
    cursor: pointer;
}
.b1TextTitle {
    font-weight:bolder;
    font-size: 19px;
    text-decoration: underline;
    background: none;
    border: none;
    cursor: pointer;
}

.bText{
    width: 207px;
    padding-left: 50px;
}
.b1Text{
    width: 400px;
}
.rightText{
    width: 300px;
    padding-left: 50px;
}

.bTextWrapper {
    position: relative;
    display: flex;
    margin-top: 25px;
    margin-left: 25px;
    width: 93%;
}

.ButtonWrapper {
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
}

.inglesB1Text {
    width: 343px;
}

.ingles {
    margin-right: 10px;
}

.frances {
    margin-right: 10px;
}

.aleman {
    margin-right: 10px;
}
