.coursesWrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 20px;
}

.primaria{
  position: relative;
  max-width: 48vh;
  max-height: 100vh;
  margin-left: 50vh;
}
.pImg{
  height: 46%;
  width: 100%;
  object-fit: cover;
  object-position: 1px 15%;
  border-radius: 10px;
}
.pText{
  width: 376px;
}

.eso{}
.eImg{
  width: 100%;
  border-radius: 10px;
}
.eText{
  width: 476px;
}

.bachiller{
  margin-right: 50vh;
}
.bImg{
  width: 100%;
  border-radius: 10px;
}
.bText{
  width: 476px;
}

.bottomGrid{
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  margin-bottom: 20vh;
}

.uni{
  position: relative;
  max-width: 50vh;
}
.uImg{
  width: 100%;
  border-radius: 10px;
}
.uText{
  width: 376px;
}

.idiomas{
  position: relative;
  max-width: 50vh;
}
.iImg{
  width: 100%;
  border-radius: 10px;
}
.iText{
  width: 476px;
}