.topbar {
    height: 70px;
    margin-bottom: 8px;
    
    @media screen and (min-height: 100px) {
        height: 100%;
    }
}
.topbarWrapper {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #E5E5E5;
}
.left {
    flex: 1;
    display: flex;
    align-items: center;
}
.logo {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: #FFB700;
}

.right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.MenuItem {
    font-size: 15px;
    margin-left: 25px;
    font-weight: 600;
}
