.FormWrapper {
    height: 75%;
    width: 40%;
    background-color: #e5e5e5;
    margin-bottom: 20vh;
    border-radius: 10px;
}

.ContactUs {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 40px;
    font-weight: 400;
    text-decoration-line: underline;
}

.Form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0,0,0, 0.01);
}

.Name {
    background-color: rgba(0,0,0, 0.2);
    margin-top: 40px;
    width: 60%;
    height: 50px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
}

.Email {
    background-color: rgba(0,0,0, 0.2);
    margin-top: 40px;
    width: 60%;
    height: 50px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
}

.Message {
    width: 60%;
    height: 100px;
    background-color: rgba(0,0,0, 0.2);
    margin-bottom: 30px;
    margin-top: 30px;
    resize: none;
    border-radius: 10px;
}

.Button {
    border: 2px solid #dcdcdc;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    background-color: rgba(0,0,0, 0.2);    
    text-align: center;
    font-size: 20px;
    transition: all 0.15s;
    cursor: pointer;
    margin-bottom: 40px;
    &:hover {
        color: #DDDDDD;
        border-color: #DDDDDD;
    }
}
