.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.mainWrapper {
  position: relative;
  text-align: center;
}


.mainImg {
  height: 65%;
  width: 100%;
  object-fit: cover;
  object-position: 20%;
}

.centered {
  position: absolute;
  padding: 10px 40px;
  top: 25%;
  left: 25%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
}


.centeredLogo {
  font-size: 60px;
  font-family: 'Dancing Script', cursive;
  text-align: left;
}

.centeredTitle {
  font-size: 40px;
  font-weight: 400;
  text-align: left;
}

.centeredText {
  width: 686px;
  font-size: 20px;
  font-weight: 200;
  text-align: left;
}


.experience {
  position: absolute;
  padding: 10px 40px;
  left: 25%;
}

.expTitle {
  margin-top: 50px;
  font-size: 50px;
}

.expText {
  font-size: 20px;
  width: 686px;
  margin-left: 30px;
}