.main {
  min-height: 100vh;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.imgWrapper {
  position: relative;
  text-align: center;
}

.mainImg {
  height: 65%;
  width: 100%;
  object-fit: cover;
  object-position: 20%;
}

.centered {
  position: absolute;
  padding: 10px 20px;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
}


.centeredLogo {
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
}

.centeredTitle {
  font-size: 30px;
  font-weight: 300;
}

.centeredText {
  width: 376px;
}