.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: flex;
    align-items: center;
}

.left {
    flex: 1;
}

.leftTitle {
    font-weight: 800;
    text-decoration: underline;
}

.leftText {
    width: 310px;
    text-align: left;
}